body {
	background: url(../img/bg.jpg);
}

.header {
	margin-top: 50px;
	margin-bottom: 50px;
}

.big-logo {
	width: 100%;
	box-shadow: 0px 0px 10px #000;
	background: url(../img/small-logo.jpg) no-repeat center;
	height:210px;
	width:600px;
	margin: 0 auto;
}

a.fb-button {
	background: url(../img/FB.png) repeat-y 0px 0px;
	width: 336px;
	height:40px;
	display: block;
	margin: 0 auto
}

a.fb-button:hover {
	background-position: 0px 40px;
}

h1.selection-msg {
	width: 500px;
	height: 100px;
	margin: 0 auto;
	line-height: 40px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	padding-top: 20px;
	background: rgba(0,0,0,0.65);
	border-radius: 5px;
	box-shadow: 0px 0px 10px #000;
}

input.large {
	font-size: 15px;
	height: 30px;
	letter-spacing: 1px;
}

.centralize {
	margin: 0 auto;
	display: block;
}

.chzn-container {
	font-size: 15px;

}

.chzn-container-single .chzn-single {
	height: 30px;
	padding: 4px 0 0 8px;
}

.form-holder {
	margin: 0 auto;
}